<div class="columns four">
    <ul class="tab-nav follow-href-path">
    {% for menu in menu_composer.getRoutesFor(menu) %}
        <li class="{% spaceless  %}
                    {% if menu.route == activeRouteKey %}
                        active
                    {% endif %}
               {% endspaceless %} ">
            <a href="{{ path(menu.route, args) }}" >{{ menu.label|trans }}</a>
        </li>

    {% endfor %}
    </ul>

</div>