{% extends "CLChillMainBundle::layout.html.twig" %}


{#

This view should receive those arguments:
- person


#}

{% block title %}CLChillPersonBundle:Person:see{% endblock %}

{% block content %}
<h1>
    <span class="surname">{{  person.surname }}</span> 
    <span class="personName">{{ person.name }}</span>
</h1>

<p class="date detail">{% transchoice person.genreNumeric
       with {'%date%' : person.dateOfBirth.format('d-m-Y')} %}views.Person.view.born{% endtranschoice %}</p>
{% if person.nationality is not null %}
    <p class="nationality detail">{{ person.nationality.label }}</p>
{% else %}
    <p class="nationality detail without_nationality">{% trans %}views.Person.view.without_nationality{% endtrans %}</p>
{% endif %}    
    
   <section class="tabs vertical"> 
    {{ include("CLChillPersonBundle::menu.html.twig", 
{'person': person, 'menu_composer' : menu_composer, 'route_active': 'chill_person_view' }) }}
       
       <div class="tab-content active columns height">
    <p>My tab is active so I'll show up first! Inb4 tab 3!</p>
        </div>

   </section>


{% endblock %}
