<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" colors="true">
    <!-- the file "./Tests/boostrap.php" will be created on the next step -->
    <testsuites>
        <testsuite name="ChillPersonBundle test suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
       </whitelist>
    </filter>
    <php>
        <server name="KERNEL_DIR" value="/Tests/Fixtures/App/app/" />
    </php>  
</phpunit>
