<div class="form_control">
<div class="medium default btn icon-left entypo icon-cancel"><a href="{{ path(return_key, return_args ) }}" >{{ 'views.Person.edit.cancel'|trans }}</a></div>

<div class="controls">
<div class="medium default btn"><button type="reset">{{ 'views.Person.edit.reset'|trans }}</button></div>
<div class="medium warning btn icon-right entypo icon-pencil"><button type="submit">{{ 'views.Person.edit.submit'|trans }}</button></div>
</div>

</div>
