<div class="form_control">
<div class="controls">
<div class="small warning btn icon-right entypo icon-pencil"><a href="{{ path(form_path_key, form_path_args) }}">{{ 'Edit'|trans }}</a></div>
</div>

</div>
