
@import '../../../../main/Resources/public/sass/config/colors';

div#header-person-name {
    background: none repeat scroll 0 0 $chill-green-dark;
    color: #FFF;
    padding-top: 1em;
    padding-bottom: 1em;
}

div#header-person-details {
    background: none repeat scroll 0 0 $chill-green;
    color: #FFF;
    padding-top: 1em;
    padding-bottom: 1em;
}

figure.person-details {
	h2 {
		font-family: 'open_sansbold';
		margin-bottom: 0.3em;
	}

	dl {
		margin-top: 0.3em;
	}

	dt {
		font-family: 'open_sansbold';
	}

	dl {
		margin-left: 0;
	}
}