
@import '../../../../main/Resources/public/sass/config/colors';

div#header-person-name {
    background: none repeat scroll 0 0 $chill-green-dark;
    color: #FFF;
    padding-top: 1em;
    padding-bottom: 1em;
}

div#header-person-details {
    background: none repeat scroll 0 0 $chill-green;
    color: #FFF;
    padding-top: 1em;
    padding-bottom: 1em;
}

figure.person-details {
	h2 {
		font-family: 'open_sanssemibold';
		margin-bottom: 0.3em;
	}

	dl {
		margin-top: 0.3em;
	}

	dt {
		font-family: 'open_sanssemibold';
	}

	dd {
		margin-left: 0;
	}

	a.sc-button {
		background-color: $black;
		padding-top: 0.2em;
		padding-bottom: 0.2em;
	}
}